{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
	{% block title %}
		{% if title %}
		{{ title }} - Búsqueda Líder
        {% else %}
        Búsqueda Líder
        {% endif %}
	{% endblock %}
	
{% block app_content %}
	<form id="search_form" action = "" method="GET" novalidate>
		

	<div class="container align-items-center justify-content-center rounded" >
		<div class="row" id="topbar">
			  <div class="col-md-12">
				  
				 <img src="./static/logo.png"/>
 
				<div class="form-group">
					  {{ wtf.form_field(form.search, class='form-control',placeholder='Buscar') }}
					  
					  {% for error in form.search.errors %}
					  <span style="color: red;">[{{ error }}]</span>
						  {% endfor %}
				</div> 
							
							
							
			  </div> 
		</div>
	  
	  
	  </div>

	</form>


	<div class="container">
			<div class="row item-box" >
				<div class="col-md-12">
					<div id="productList"></div>				
				</div>
			</div>
	</div>


	<br />
	<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="message" class = "alert" role="alert"></div>				
				</div>
			</div>
	</div>

{% endblock %}
